@model Sistema.Models.Persona

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.antiguedad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.antiguedad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.segmento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.segmento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.renta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.renta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_ahor_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_ahor_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_aval_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_aval_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_cco_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_cco_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_cder_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_cder_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_cno_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_cno_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_ctju_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_ctju_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_ctma_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_ctma_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_ctop_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_ctop_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_ctpp_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_ctpp_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_deco_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_deco_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_deme_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_deme_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_dela_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_dela_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_ecue_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_ecue_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_fond_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_fond_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_hip_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_hip_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_plan_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_plan_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_pres_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_pres_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_reca_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_reca_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_tjcr_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_tjcr_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_valo_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_valo_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_viv_fin_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_viv_fin_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_nomina_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_nomina_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_nom_pens_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_nom_pens_ult1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ind_recibo_ult1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ind_recibo_ult1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
